@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


body{
    background-color: #17212b;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.head-div{
    background-color: #242f3d;
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head{
    color:white;
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.container{
    border: 1px solid white;
    width:399px;
    height: 399px;

    display: grid;
    grid-template-rows: repeat(3,133px);
    grid-template-columns: repeat(3,133px);
    grid-template-areas: 
        'b1 b2 b3'
        'b4 b5 b6'
        'b7 b8 b9';
    margin-bottom: 20px;
}

.res{
    color:#FFD369;
    font-size: 70px;
    margin: 0;
}

.press{
    display: flex;
    font-size:70px;
    justify-content: center;
    align-items: center;
    color:red;
    
}

.cpress{
    display: flex;
    font-size:70px;
    justify-content: center;
    align-items: center;
    color:#454cee;
    
}

#b1{
    grid-area: b1;
    border: 1px solid rgb(255, 255, 255);
}

#b2{
    grid-area: b2;
    border: 1px solid rgb(255, 255, 255);
    
}

#b3{
    grid-area: b3;
    border: 1px solid rgb(255, 255, 255);
    
}

#b4{
    grid-area: b4;
    border: 1px solid rgb(255, 255, 255);
}

#b5{
    grid-area: b5;
    border: 1px solid rgb(255, 255, 255);
    
}

#b6{
    grid-area: b6;
    border: 1px solid rgb(255, 255, 255);
}

#b7{
    grid-area: b7;
    border: 1px solid rgb(255, 255, 255);
}

#b8{
    grid-area: b8;
    border: 1px solid rgb(255, 255, 255);
}

#b9{
    grid-area: b9;
    border: 1px solid rgb(255, 255, 255);
}
